/***** TABLE OF CONTENT
01 - BASE
02 - HEADER
03 - SECTION
04 - BUTTONS
05 - ITEMS
06 - RESPONSIVE
*****/



/*** BASE ***/

:root {
  --purple: #776CFF;
  --light: #E1DFFE;
  --dark: #100F14;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--dark);
  color: var(--light)
}

.disabled {
  display: none;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#loader {
  opacity: 0;
  transition: all .6s ease-in-out;
  padding: 2rem;
  font-size: .75em;
  color: var(--purple);
}

#loader.display {
  opacity: 1;
  font-size: .75em;
}

/*** END BASE ***/



/*** HEADER ***/
header {
  width: 100%;
  height: 100%;
}

header nav {
  height: 100%;
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a img {
  width: 3rem;
}

/*** END HEADER ***/


/*** SECTION ***/
section {
  padding: 3rem 2rem;
}

section:nth-child(1) h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  color: var(--purple);
  margin-bottom: 2rem;
}

section:nth-child(1) p {
  font-size: .75em;
  font-weight: 500;
  line-height: 1.25;
}

section:nth-child(2) {
  background: var(--purple);
  padding: 0;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}

section:nth-child(2) h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1;
  color: var(--white);
  text-align: center;
  background: transparent;
  margin-bottom: 2rem;
}

section:nth-child(2) p {
  font-size: .75em;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  background: transparent;
}

section:nth-child(3) p {
  font-size: .75em;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 2rem;
}

/*** END SECTION ***/

/*** BUTTONS ***/

button {
  background: var(--purple);
  border-radius: 100px;
  border: none;
  padding: .5rem;
  font-size: .75em;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 3rem;
  opacity: 0.5;
}

button.active {
  opacity: 1;
}

/*** END BUTTONS ***/


/*** ITEMS ***/
h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1;
  color: var(--white);
  padding: 2rem;
}

ul li a article {
  margin: 2rem;
  border-bottom: 1px solid var(--purple);
}

ul li a article h4 {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

ul li a article p {
  font-size: .75em;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*** END ITEMS ***/



/*** RESPONSIVE ***/
@media (min-width: 1024px) {
  header nav {
    padding: 5rem 10rem;
  }

  section {
    padding: 5rem 10rem 10rem 10rem;
  }

  section:nth-child(1) h1 {
    font-size: 3em;
    width: 20ch;
  }

  section:nth-child(1) p {
    font-size: 1em;
    line-height: 1.5;
    width: 50ch;
  }

  section:nth-child(2) {
    height: 40rem;
  }

  section:nth-child(2) h2 {
    font-size: 2.5em;
    width: 20ch;
  }

  section:nth-child(2) p {
    font-size: 1em;
  }

  section:nth-child(3) {
    padding-bottom: 5rem;
  }

  section:nth-child(3) p {
    font-size: 1em;
    width: 50ch;
  }

  button {
    padding: 1.5rem 4rem;
    font-size: 1em;
    margin-right: 1rem;
  }

  h3 {
    padding: 3rem 10rem;
  }

  ul li a article {
    margin: 3rem 10rem;
  }

  #loader {
    padding: 0 10rem;
  }
}

/*** END RESPONSIVE ***/